<ul [ngClass]="_classDosColumnas">
  <li
    *ngFor="let item of _articulosList"
    class="articulo-item"
    (click)="articuloVenta(item)"
  >
    <div
      *ngFor="let imagen of item.imagenes"
      class="articulo-contendor-imagen-catalogo"
    >
      <img
        *ngIf="imagen.principal == 'S'"
        [src]="transform(imagen.urlImagen)"
        alt="imagen.nomImagen"
        class="articulo-imagen"
      />
      <div class="overlay"></div>
      <span [ngClass]="_classArticuloTituloDosCol"
        >{{ item.nomArticulo }} <span>{{ item.precio | currency }}</span>
      </span>
    </div>
  </li>
</ul>
