<header id="topmenu">
  <i class="fa-solid fa-bars fa-2x"></i>
  <nav>
    <ul>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
    </ul>
  </nav>
  <div class="search-wrapper">
    <form>
      <input
        type="text"
        name="focus"
        required
        class="search-box"
        placeholder="Enter search term"
      />
    </form>
  </div>
  <i class="fa-solid fa-magnifying-glass fa-2x"></i>
  <i *ngIf="false" class="fa-solid fa-arrow-rotate-left fa-2x"></i>
</header>
