<header id="topmenu">
  <i *ngIf="_menuTopiconos.barras" class="fa-solid fa-bars fa-2x"></i>
  <nav>
    <ul>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
    </ul>
  </nav>
  <div *ngIf="_menuTopiconos.buscar" class="search-wrapper">
    <form>
      <input
        id="buscar"
        type="text"
        name="focus"
        required
        class="search-box"
        placeholder="buscar..."
        (keyup)="onKeypressEvent($event)"
      />
    </form>
  </div>
  <i
    *ngIf="_menuTopiconos.lupa"
    (click)="accionLupa()"
    class="fa-solid fa-magnifying-glass fa-2x"
  ></i>
  <i
    *ngIf="_menuTopiconos.cerrar"
    (click)="accionCerrar()"
    class="fa-solid fa-xmark fa-2x"
  ></i>
  <i
    *ngIf="_menuTopiconos.regresar"
    class="fa-solid fa-arrow-rotate-left fa-2x"
  ></i>
</header>
