<header id="topmenu">
  <i *ngIf="_menuTopiconos.menu" class="fa-solid fa-bars"></i>
  <nav>
    <ul>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
      <li>
        <i class="fa-regular fa-address-card fa-2x"></i><span>Acerca de</span>
      </li>
    </ul>
  </nav>
  <i
    *ngIf="_menuTopiconos.regresar"
    class="fa-solid fa-angle-left"
    (click)="accionRegresar()"
  >
    <span class="letra-lg">Atrás</span></i
  >
  <span *ngIf="_menuTopiconos.titulo" class="valor-titulo">{{
    _valorTitulo
  }}</span>
  <div *ngIf="_inputBuscar" class="search-wrapper">
    <form>
      <input
        id="buscar"
        type="text"
        name="focus"
        required
        class="search-box"
        placeholder="buscar..."
        (keyup)="onKeypressEvent($event)"
      />
    </form>
  </div>
  <i
    *ngIf="_menuTopiconos.buscar"
    (click)="accionLupa()"
    class="fa-solid fa-magnifying-glass"
  ></i>
  <i
    *ngIf="_menuTopiconos.cerrar"
    (click)="accionCerrar()"
    class="fa-solid fa-xmark fa-2x"
  ></i>
  <i *ngIf="_menuTopiconos.config" class="fa-solid fa-ellipsis"></i>
</header>
