<div class="content" role="main">
  <div id="mobilebody">
    <div id="mobile">
      <app-menutop></app-menutop>

      <router-outlet></router-outlet>

      <nav id="mainmenu">
        <ul>
          <li>
            <a routerLink="catalogo">
              <i class="fa-solid fa-house fa-2x"></i><span>Inicio</span>
            </a>
          </li>
          <li>
            <a routerLink="categoria">
              <i class="fa-solid fa-layer-group fa-2x"></i
              ><span>Categorias</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-cart-shopping fa-2x"></i><span>Carrito</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
