@import url(https://fonts.googleapis.com/css?family=Andika);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swa);

* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

html {
  height: 100%;
}

body {
  background: #4a4a4a;
  /* padding: 10px; */
  color: #b8a7a7;
  /* text-transform: uppercase;*/

  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.2em;
  padding: 100px 15px 25px 15px;
  text-shadow: 0px 0px 5px #cfcfcf;
  color: #c2c2c2;
  text-align: center;
}

letra-sm {
  font-size: 8px;
}

icono-lg {
  font-size: 15px;
}

#mobilebody {
  width: 100%;
  height: 100vh;
  /* 
  width: 360px;
  height: 550px;
  padding: 50px 0px 0px 0px;
  */
  background: #fff;
  border-radius: 25px;
  border: 0px solid #dadada;
  margin: 0 auto;
  position: relative;
}

#mobile {
  /* 
  width: 320px;
  height: 480px;
  */
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  border-radius: 25px;
  background: #f2f2f2;
}

/*
#seccion {
  width: 320px;
  height: 370px;
  margin: 0 auto;
  background: #f2f2f2;
  overflow: hidden;
}
*/

#mainmenu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#mainmenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  overflow-x: auto;
}

#mainmenu ul li {
  padding: 3% 0%;
  background: #25d366;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
  white-space: nowrap;
}

#mainmenu ul li a {
  text-decoration: none;
  overflow: auto;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

#mainmenu ul li a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#submenu ul li:hover i,
#mainmenu li:hover i {
  text-shadow: 0px 0px 10px #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#submenu ul li:hover span,
#mainmenu li:hover span {
  text-shadow: 0px 0px 10px #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
  float: left;
  text-align: center;
}

ul li span {
  display: block;
  font-size: 0.7em;
}

#topmenu {
  width: auto;
  height: 50px;
  background-color: #25d366;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*overflow-x: auto;*/
}

#topmenu nav {
  display: none;
}
#topmenu nav ul {
  display: flex;
  flex-direction: column;
}

#topmenu i {
  padding-right: 3%;
  padding-left: 3%;
}

#topmenu div {
  display: flex;
}

/*BOTON DE BUSQUEDA */
.search-box,
.close-icon,
.search-wrapper {
  position: relative;
  padding: 10px;
}

.search-wrapper {
  width: 350px;
  /* margin: auto; */
}

.search-wrapper {
  display: flex;
}

.search-box {
  width: 100%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

/* CATALOGO DE ARTICULOS */
/*elemento lista ul*/
.articuloslistadoDosCol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 10px;
  grid-gap: 10px;
}

.articuloslistadoTresCol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 10px;
  grid-gap: 10px;
}

/*elemento lista li*/
.articulo-item {
  position: relative;
  text-align: left;
}

.articulo-contendor-imagen-catalogo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.articulo-contendor-imagen {
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 5%;
}

.articulo-imagen {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.overlay {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 5%;
}

.articulo-tituloTresCol {
  font-family: Roboto;
  font-size: large;
  position: absolute;
  bottom: 0;
  color: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));*/
  width: 95%;
  padding: 10px;
  border-radius: 5%;
  z-index: 2;
}

/* CATEGORIAS */
/*elemento lista ul*/
#categorias-listado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 10px;
  grid-gap: 10px;
}

/*elemento lista li*/
.categoria-item {
  position: relative;
  text-align: left;
}

.categoria-titulo {
  font-family: Roboto;
  font-size: large;
  position: absolute;
  bottom: 0;
  color: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));*/
  width: 95%;
  padding: 10%;
  border-radius: 5%;
  z-index: 2;
}

.categoria-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.letra-lg {
  font-family: Roboto;
  font-size: large;
  padding: 5%;
}

.valor-titulo {
  font-family: Roboto;
  font-size: larger;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 350px;
}
